body {
  background-color: beige;
}

.btn {
  background-color: whitesmoke;
  border: solid gray 1px;
}

img {
  width: 400px;
  height: auto;
}

#result-scalene {
  display: none;
}

#result-equil {
  display: none;
}

#result-isosceles {
  display: none;
}

#result-string {
  display: none;
}

#result-negative {
  display: none;
}

#no-triangle {
  display: none;
}